<!-- Page Header -->
<header class="masthead" style="background-image: url('img/nabout-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Who...ME..?!</p>
      <p>
        ~ I'm Just A Guy Who's
        <span class="About-me" > A Full stack MERN developer</span> For The
        Fun Of It.
      </p>
      <p>
        Also I am a student pursuing Electronics and Communication Engineering
        from JC Bose University, YMCA, Faridabad.
      </p>

      <p>
        Along with this, I am an active volunteer and member at <span class="About-me">
          "Manan - The
        Coding society of YMCA"</span> .
      </p>

      <p>
        I focusses on crafting great web
        pages. Coding and Designing have been my areas of interest since my
        childhood, and I have a great inclination towards the web development
        and designing specifically.
      </p>

      <p>
        I have worked on various projects, and some of them are even live. They
        have received excellent feedback, which motivates me to explore this
        field more and more
      </p>
    </div>
  </div>
</div>

<hr />
