  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Who...ME..?!</p>
        <p>~ I'm Just A Guy Who's <span style="font-weight: bold;" > A Full stack developer</span>  For The Fun Of It.</p>
        <p>You don't Believe Me ??</p>
        <img src="https://i.redd.it/i8fcfmlxyq351.jpg" alt="meme">
      </div>
    </div>
  </div>

  <hr>